body {
  color: #555;
  font-size: 15px;
  line-height: 1.7;
  font-family: 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif;
  background: #fff;
  -webkit-font-smoothing: subpixel-antialiased;
}
